Sphinx==1.2.2
sphinx-rtd-theme==0.1.5
numpydoc==0.4
# funcsigs required by mock, which apparently does not have its dependancies
# setup correctly.
funcsigs
mock
PyYAML
numpy
git+https://github.com/radiocosmology/caput@a36e922c2d4c4f7e13801220abb0b54eeabcbc4e#egg=caput

